/* Elements */
a {
	color: #b70;
}
a.button{
	color: #e99d11;
}
a.entry-content {
	color: #666;
}
a img {
	margin-bottom: -0.4rem;
}
blockquote {
	margin: 4rem 4rem 2.4rem;
}
blockquote::before {
	font-size: 3rem;
}
body {
	background-color: #ffa200;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.6rem;
	min-width: 20em;
}
h1 {
	font-size: 3.6rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 2rem;
}
h5 {
	font-size: 1.8rem;
}
h6 {
	font-size: 1.6rem;
	font-weight: 700;
	margin: 0 0 1.6rem;
}
html {
	font-size: 62.5%;
}
p {
	margin: 0 0 2.4rem;
}
table {
	margin-bottom: 4rem;
}
td {
	padding: 0.6rem 0;
}
textarea {
	font-size: 1.4rem;
	padding: 1.6rem;
}



/* Elements */
.agency-pro-orange .breadcrumb a
, .agency-pro-orange .breadcrumb a:visited {
	color: #B3C7FC;
	font-size: 1.2em;
}
.agency-pro-orange .breadcrumb a:focus
, .agency-pro-orange .breadcrumb a:hover {
	color: #FFF;
}
.agency-pro-orange .breadcrumb a:active {
	color: #F07802;
}
.agency-pro-home .content .featured-content {
	padding: 0;
}
.agency-pro-home .content .featured-content article ~ .widget-title {
	padding: 2rem 0;
}
.agency-pro-home .content .featured-content .entry-content p {
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.agency-pro-home .content .featured-content .more-from-category {
	margin-bottom: 4rem;
}
.agency-pro-home .content .featured-content .widget-title {
	color: #fff;
	text-align: center;
	margin: -40px 0 0;
	margin: -4rem 0 0;
	padding-bottom: 20px;
	padding-bottom: 2rem;
}
.agency-pro-home .content .featured-content .widget-title::after {
	content: " ";
	display: inline-block;
	border-top: 2px solid #fff;
	padding-bottom: 4px;
	width: 15%;
	margin-left: 12px;
	margin-left: 1.2rem;
}
.agency-pro-home .content .featured-content .widget-title::before {
	margin-right: 12px;
	margin-right: 1.2rem;
}
.agency-pro-home .content .widget {
	background: #transparent;
	margin-bottom: 8rem;
}
.agency-pro-home .featured-content a:hover {
	color: #fff;
}
.aligncenter {
	margin: 0 auto 2.4rem;
}
.alignleft .avatar {
	margin-right: 2.4rem;
}
.alignnone img {
	margin-bottom: 1.2rem;
}
.alignright .avatar {
	margin-left: 2.4rem;
}
.archive-description {
	padding: 4rem 4rem 2.4rem;
}
.archive-pagination {
	font-size: 1.4rem;
	margin: 4rem 0;
}
.archive-pagination li a {
	margin-bottom: 0.4rem;
	padding: 0.8rem 1.2rem;
}
.archive-pagination li.active a {
	background-color: #ffa200;
}
.archive-title {
	font-size: 2rem;
	margin-bottom: 2.4rem;
}
.author-box {
	margin-bottom: 4rem;
	padding: 4rem;
}
.author-box .avatar {
	margin-right: 2.4rem;
}
.author-box-title {
	font-size: 1.6rem;
	margin-bottom: 0.4rem;
}
.breadcrumb {
	margin-bottom: 1em;
	text-shadow: 2px 2px 4px #000;
}
.button:hover {
	background-color: #ffa200;
	color: #fff;
}
.comment .avatar {
	margin: 0 1.6rem 2.4rem 0;
}
.comment-header .comment-meta a {
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
}
.comment-list li {
	margin-top: 4rem;
	padding: 0 4rem;
}
.comment-list li li {
	margin-right: -3.2rem;
}
.comment-respond label {
	margin-right: 1.2rem;
}
.enews-widget input {
	margin-bottom: 1.6rem;
}
.enews-widget input:hover[type="submit"] {
	background-color: #ffa200;
}
.entry {
	margin-bottom: 4rem;
	padding: 4rem 4rem 2.4rem;
}
.entry-comments {
	margin-bottom: 4rem;
	padding: 4rem;
}
.entry-comments-link::before {
	margin: 0 0.4rem 0 0.6rem;
}
.entry-content iframe {
	height: 30em;
	left: 10em;
	position: relative;
	width: 45em;
}
.entry-content iframe.dojomap {
	border: none;
	height: 20em;
	left: 0;
	width: 100%;
}
.entry-content ul {
	margin-left: 4rem;
}
.entry-content .button {
	padding: 1.6rem 2.4rem;
}
.entry-content .wp-caption-text {
	font-size: 1.4rem;
}
.entry-header .entry-meta {
	margin-bottom: 2rem;
}
.entry-meta {
	font-size: 1.4rem;
	display: none;
}
.entry-title {
	font-size: 3.6rem;
}
.featured-content .entry {
	margin-bottom: 2rem;
	padding: 0 0 2.4rem;
}
.featured-content .entry-title {
	font-size: 2.2rem;
}
.footer-widgets {
	background-color: #00021f;
	background-image: url("http://ska.org/wp-content/uploads/SKA-footer-bkgd-gradate.png");
	background-repeat: repeat-x;
	border-top: 0px;
}
.footer-widgets .footer-widgets-1 {
	padding-top: 2.5em;
}
.footer-widgets .footer-widgets-2 {
	padding-top: 1.5em;
}
.footer-widgets .widget-area {
	height: 10em;
}
.footer-widgets-1 {
	background-color: #5b76a3;
	color: #ffffff;
	padding: 10px 24px 0 24px;
	text-align: center;
}
.footer-widgets-1 .login-username
, .footer-widgets-1 .login-password
, .footer-widgets-1 .login-remember
, .footer-widgets-1 .lost_password-link {
	color: #ffffff;
	font-size: 1.2rem;
}
.footer-widgets-1 .widget-title {
	color: #ffffff;
	font-size: 1.6rem;
}
.footer-widgets-1 #user_login
, .footer-widgets-1 #user_pass {
	border: solid 1px #85b1de;
	color: #0c1741;
	font-size: 12px;
	width: 100%;
}
.footer-widgets-2 {
	background-color: #b78e4e;
	color: #ffffff;
	text-align: center;
}
.footer-widgets-2 a
, .footer-widgets-2 a:visited {
	color: #B3C7FC;
}
.footer-widgets-2 a:focus
, .footer-widgets-2 a:hover {
	color: #0E1037;
}
.footer-widgets-2 a:active {
	color: #B3C7FC;
	text-decoration: underline;
}
.footer-widgets-2 .widget-title {
	color: #ffffff;
	font-size: 1.6rem;
}
.footer-widgets-2 #field_2_1
, .footer-widgets-2 #field_2_2
, .footer-widgets-2 #field_2_3 {
	color: #0c1741;
	font-family: Verdana, sans-serif;
	font-weight: 100;
	height:16px;
	line-height: 12px;
	text-align: center;
}
.form-allowed-tags {
	font-size: 1.4rem;
	padding: 2.4rem;
}
.genesis-nav-menu {
	font-size: 1.4rem;
}
.genesis-nav-menu a {
	background-color: transparent;
	border-top: none;
	color: #f70;
	padding: 0.75em 1em;
}
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .v .current-menu-item > a:hover {
	color: #fff;
	background-color: transparent;
}
.genesis-nav-menu .menu-item:focus {
	position: relative;
}
.genesis-nav-menu .menu-item:hover {
	position: relative;
}
.genesis-nav-menu .menu-item:active {
	position: relative;
}
.genesis-nav-menu .menu-item:focus > .sub-menu {
	left: auto;
	opacity: 1;
}
.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}
.genesis-nav-menu .menu-item:active > .sub-menu {
	left: auto;
	opacity: 1;
}
.genesis-nav-menu .search input {
	font-size: 1.2rem;
	padding: 1.2rem;
}
.genesis-nav-menu .sub-menu {
	border-top-color: #0c1640;
	border-top: thick;
}
.genesis-nav-menu .sub-menu a {
	background-color: #0c1640;
	font-size: 1.2rem;
	padding: 1rem 1rem 1rem 1.6rem;
}
.genesis-nav-menu .sub-menu a:hover {
	background-color: #0c1640;
}
.genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #fff;
}
.genesis-nav-menu .sub-menu .sub-menu a {
	background-color: #15204D;
}
.genesis-nav-menu .v .current-menu-item > a:hover {
	color: #fff;
	background-color: #0c1741;
}
.genesis-nav-menu > .date {
	padding: 1.8rem 1.6rem 2rem 0rem;
}
.genesis-nav-menu > .right {
	float: left;
}
.genesis-nav-menu > .search {
	padding: 1rem 0 0;
}
.gform_body {
	font-size: 1.2rem;
}
.gform_wrapper form li {
	margin: 1.2rem 0 0;
}
.gform_wrapper .gform_footer input[type="submit"] {
	font-size: 1.0rem;
}
.gform_wrapper .ginput_complex label {
	font-size: 1.2rem;
	padding: 1.2rem;
}
.header-widget-area .widget.widget_text {
	float:right;
	margin-top: -7em;
	width: 260px;
}
.home-middle {
	padding: 1% 0 5%;
}
.home-top .button {
	color: #0c1640;
}
.home-top .widget .button:hover {
	background-color: #8b6228;
}
.home-top .widget-title {
	font-size: 6rem;
}
.home-top .widget_text h2 {
	color: #FFF;
	margin: 0;
	text-shadow: 2px 2px 4px #000;
}
.home-top .wrap {
	padding: 2em 1em;
}
.latest-tweets ul li {
	margin-bottom: 1.6rem;
}
.org-title {
	color: #B3C7FC;
	font-family: "Spinnaker", sans-serif;
	font-size: 1.5em;
	line-height: 1.2em;
}
.post-nav {
	margin: 0.5em 1em;
	overflow: hidden;
}
.post-nav a {
	float: left;
}
.post-nav a
, .post-nav a:visited {
	background-color: #B78E4E;
	color: #FFF;
	padding: 0.75em 1em;
}
.post-nav a:focus
, .post-nav a:hover {
	background-color: #C8A978;
	color: #FFF;
}
.post-nav a:active {
	background-color: #F07802;
}
.post-nav a.next {
	float: right;
}
.quote-caption {
	margin-bottom: 1.6rem;
}
.sidebar li {
	margin-bottom: 0.6rem;
}
.sidebar .widget {
	margin-bottom: 4rem;
	padding: 4rem;
}
.sidebar-primary {
	padding-top: 40px;
}
.sidebar-secondary {
	padding-top: 40px;
}
.site-container {
	padding-top: 10em;
}
.site-description {
	color: #B3C7FC;
	font-size: 1.4rem;
	font-weight: 100;
	margin-bottom: 0.5em;
}
.site-footer {
	background-color: #00021f;
	color: #888;
	font-size: 1rem;
	letter-spacing: 0.1rem;
}
.site-footer a {
	color: #E99D11;
}
.site-footer a:hover {
	color: #E99D11;
}
.site-header {
	background-color:transparent;
	background-image: url("http://ska.org/wp-content/uploads/SKA-header-bkgd-gradation.jpg");
	background-repeat: repeat-x;
}
.site-header .genesis-nav-menu {
	float: left;
}
.site-header .search-form {
	margin-top: 2.4rem;
}
.site-header .widget {
	width: 100%;
}
.site-header .widget-area {
	float: left;
	margin-top: 0;
	text-align: left;
	width: 100%;
}
.site-title {
	font-size: 2em;
	line-height: 1.2em;
	text-transform: none;
}
.site-title a {
	color: #f3cd5c;
}
.site-title a:hover {
	color: #ffa200;
}
.title-area {
	min-height: 5em;
	padding: 0.75em 0 0 0;
	width: 100%;
}
.touch .home-middle .featuredpost img.entry-image {
	position: relative;
}
.touch .home-middle .featuredpost img:hover {
	-khtml-opacity: 0.75;
	-moz-opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	opacity: 0.75;
}
.touch .home-middle .featuredpost .entry:nth-of-type(2n+1) {
	background-color: #444;
	height: 48em;
}
.touch .home-middle .featuredpost .entry-title a {
	text-decoration: underline;
}
.widget li {
	margin-bottom: 0.6rem;
}
.widget li li {
	padding: 0 0 0 2rem;
}
.widget-title {
	font-size: 1.6rem;
	margin-bottom: 1.6rem;
}
.wp-caption.alignleft {
	margin: 0 2.4rem 2.4rem 0;
}
.wp-caption.alignright {
	margin: 0 0 2.4rem 2.4rem;
}



/* IDs */
#gform_submit_button_2 {
	background-color: #0c1741;
	font-size: 16px;
	margin: 20px 2px 2px 2px;
	padding: 8px;
	width: 100%;
}
#nav_menu-4 {
	margin-top: -1rem;
}
#skipTo {
	display: none;
}
#wp-submit {
	background-color: #0c1741;
	font-size: 16px;
	margin: 20px 2px 2px 2px;
	padding: 8px;
	width: 100%;
}


/* Media Queries */
@media only screen and (max-width: 1180px) {
	.content {
		width: 620px;
	}
	.content-sidebar-sidebar .content {
		width: 400px;
	}
	.entry-content iframe {
		left: 4em;
	}
	.home-bottom .featuredpost .entry {
		min-height: 360px;
	}
	.home-middle .featuredpost .entry {
		font-size: 1.2rem;
		min-height: 320px;
	}
	.sidebar-primary {
		display: block;
		margin: 2rem auto 2.4rem;
		width: 350px;
	}
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}
	.site-header .widget-area {
		width: 100%;
	}
	.touch .home-middle .featuredpost .entry:nth-of-type(2n+1) {
		height: 52em;
	}
	.wrap {
		max-width: 960px;
	}
}


@media only screen and (max-width: 1023px) {
	.agency-pro-home .featuredpost .entry {
		min-height: 380px;
		width: 50%;
	}
	.entry-content iframe {
		left: 0;
	}
	.genesis-nav-menu a {
		padding: 0.75em;
	}
	.genesis-nav-menu li.right {
		display: none;
	}
	.genesis-nav-menu .sub-menu .sub-menu {
		width: 112px;
	}
	.genesis-nav-menu .sub-menu .sub-menu a {
		width: 112px;
	}
	.genesis-nav-menu > .last > a {
		padding: 2rem 1.6rem;
	}
	.header-image .site-title a {
		background-position: center !important;
		margin: 0 0 0.6rem;
	}
	.header-widget-area .widget.widget_text {
		display: block;
		float: none;
		margin: 0px auto;
		padding: 0px;
		width: 186px;
	}
	/* These clearing rules must be in this order to work as intended */
	.home-middle .featured-content .post:nth-of-type(3n+1) {
		clear: none;
	}
	.home-middle .featured-content .post:nth-of-type(2n+1) {
		clear: left;
	}
	.site-container {
		padding-top: 20em;
	}
	.site-header .search-form {
		float: none;
		margin: 1.6rem auto;
	}
	.site-header .widget-area {
		height: 2.6em;
	}
	.site-title {
		text-align: center;
	}
	.sidebar .widget.enews-widget {
		padding: 4rem;
	}
	.sidebar-primary {
		display: block;
		margin: 2rem auto 2.4rem;
		text-align: center;
		width: 350px;
	}
	.title-area {
		width: 100%;
	}
	.touch .home-middle .featuredpost .entry:nth-of-type(2n+1) {
		background-color: #333;
	}
	.touch .home-middle .featuredpost .entry:nth-of-type(4n+1) {
		background-color: #444;
	}
	.touch .home-middle .featuredpost .entry:nth-of-type(4n+4) {
		background-color: #444;
		height: 54em;
	}
	.wrap {
		max-width: 760px;
	}
}


@media only screen and (max-width: 800px) {
	li {
		list-style-type: none;
	}


	.entry {
		padding: 1em;
	}
	.entry-content iframe {
		height: 24em;
		left: 1.5em;
		width: 36em;
	}
	.entry-title {
		font-size: 3rem;
	}
	.genesis-nav-menu a {
		padding: 0.75em 0.5em;
	}
	.home-middle .featuredpost .entry {
		min-height: 320px;
	}
	.sidebar-primary {
		display: block;
		margin: 2rem auto 2.4rem;
		text-align: center;
		width: 350px;
	}
	.site-inner {
		padding: 1em;
	}
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	.wrap {
		width: 100%;
	}


	#skipTo {
		display: block;
		background: #00021f;
		list-style-type: none;
		text-align: center;
	}
}


@media only screen and (max-width: 680px) {
	.agency-pro-home .content .featured-content .entry-header {
		clear: both;
	}
	.agency-pro-home .content .wrap {
		max-width: 380px;
	}
	.agency-pro-home .featuredpost .entry {
		width: 100%;
	}
	.content {
		padding-top: 0px;
	}
	.entry-content iframe {
		height: 20em;
		position: static;
		width: 30em;
	}
	.genesis-nav-menu .menu-item:focus > .sub-menu {
		left: -2.25em;
	}
	.genesis-nav-menu .menu-item:hover > .sub-menu {
		left: -2.25em;
	}
	.genesis-nav-menu .menu-item:active > .sub-menu {
		left: -2.25em;
	}
	.home-middle .featuredpost img.entry-image {
		position: relative;
	}
	.home-middle .featuredpost .entry img:hover {
		-khtml-opacity: 0.9;
		-moz-opacity: 0.9;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity=90);
		opacity: 0.9;
	}
	.home-middle .wrap {
		padding: 0 1em;
	}
	.home-top .widget-title {
		font-size: 4.8rem;
	}
	.org-title {
		display: none;
	}
	.sidebar-primary {
		display: block;
		margin: 2rem auto 2.4rem;
		text-align: center;
		width: 350px;
	}
	.site-container {
		padding: 0;
	}
	.site-description {
		display: none;
	}
	.site-header {
		position: relative;
	}
	.site-header .widget-area {
		height: auto;
	}
	.site-title a {
		display: none;
	}
	.site-title.dojo {
		font-size: 1em;
		font-weight: 700;
		margin-bottom: 0.5em;
	}
	.site-title.dojo a {
		display: block;
	}
	.title-area {
		min-height: 0;
		padding: 0.5em 0 0;
	}
	.touch .home-middle .featuredpost .entry:nth-of-type(2n+1) {
		height: auto;
	}
	.touch .home-middle .featuredpost .entry:nth-of-type(4n+1) {
		background-color: #333;
		height: auto;
	}
	.touch .home-middle .featuredpost .entry:nth-of-type(4n+4) {
		background-color: #333;
		height: auto;
	}
}
